$c-white: #FFFFFF;
$c-blue: #2091F9;
$c-black-title: #252B42;
$c-black-subtitle: #374754;
$c-gray-border: #E8E8E8;
$c-gray: #F4F4F4;
$c-black-background: #18171D;
$c-pink: #FCECEC;
$c-card-border: #D8D8D8;
$c-pricing-border: #DEDEDE;
$c-contacts-border: #DDDDDD;
$c-form-background: #F5F5F5;
$z-index-header: 100;