<svg width="26" height="33" viewBox="0 0 26 33" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_67_7924)">
<path d="M13.0013 19.6735C16.4941 19.6735 19.3346 16.833 19.3346 13.3402C19.3346 9.84734 16.4941 7.00684 13.0013 7.00684C9.50847 7.00684 6.66797 9.84734 6.66797 13.3402C6.66797 16.833 9.50847 19.6735 13.0013 19.6735ZM13.0013 10.1735C14.7477 10.1735 16.168 11.5938 16.168 13.3402C16.168 15.0866 14.7477 16.5068 13.0013 16.5068C11.2549 16.5068 9.83464 15.0866 9.83464 13.3402C9.83464 11.5938 11.2549 10.1735 13.0013 10.1735Z" fill="#2091F9"/>
<path d="M11.7485 32.0455C12.0164 32.2369 12.3375 32.3398 12.6668 32.3398C12.9961 32.3398 13.3172 32.2369 13.5851 32.0455C14.0665 31.7051 25.3794 23.5367 25.3335 13.34C25.3335 6.35592 19.6509 0.67334 12.6668 0.67334C5.68272 0.67334 0.000139393 6.35592 0.000139393 13.3321C-0.0457773 23.5367 11.2671 31.7051 11.7485 32.0455ZM12.6668 3.84001C17.9061 3.84001 22.1668 8.10076 22.1668 13.3479C22.2001 20.3748 15.2191 26.6843 12.6668 28.7538C10.1161 26.6828 3.13356 20.3716 3.16681 13.34C3.16681 8.10076 7.42756 3.84001 12.6668 3.84001Z" fill="#2091F9"/>
</g>
<defs>
<clipPath id="clip0_67_7924">
<rect width="26" height="32" fill="white" transform="translate(0 0.506836)"/>
</clipPath>
</defs>
</svg>