<svg width="22" height="35" viewBox="0 0 22 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_67_7930)">
<path d="M16.5417 0.965332H4.875C2.45417 0.965332 0.5 2.9195 0.5 5.34033V28.6737C0.5 31.0945 2.45417 33.0487 4.875 33.0487H16.5417C18.9625 33.0487 20.9167 31.0945 20.9167 28.6737V5.34033C20.9167 2.9195 18.9625 0.965332 16.5417 0.965332ZM13.625 30.132H7.79167V28.6737H13.625V30.132ZM18.3646 25.757H3.05208V5.34033H18.3646V25.757Z" fill="#2091F9"/>
</g>
<defs>
<clipPath id="clip0_67_7930">
<rect width="21" height="34" fill="white" transform="translate(0.5 0.00683594)"/>
</clipPath>
</defs>
</svg>