.cta__container
    .cta__img
        include ../assets/icons/CTA-img
    .cta__content 
        h3.cta__smalltitle At your fingertips
        h2.title.cta__title Lightning fast prototyping 
        h2.title.cta__title__mobile Newsletter 
        h4.subtitle.cta__subtitle__mobile Most calendars are designed for teams
    .cta__subscribe 
        h3.cta__smalltitle Subscribe to our Newsletter
        p.cta__smallsubtitle Available exclusivery on Figmaland
        form(action="" method="post").cta__form
                input(type="email" placeholder="Your Email").cta__email
                input(type="submit" value="Subscribe").button.cta__button