include ../mixins
.header__container
    .header__menu__logo
        .header__logo__mobile
            img(src="./assets/images/header-logo.png", alt="logo")
        input(type="checkbox" id="menu")
        label(for="menu").burger
            img(src="./assets/images/header-menu.svg", alt="main menu")
        +Menu
        .header__logo
            img(src="./assets/images/header-logo.png", alt="logo")
    .header__contacts 
        a.header__contact(href="#") 
            include ../assets/icons/twitter
        a.header__contact(href="#") 
            include ../assets/icons/facebook
        a.header__contact(href="#") 
            include ../assets/icons/linkedIn
        