.hero__container
    h1.hero__title The best products start with Figma
    h4.hero__subtitle Most calendars are designed for teams. 
        span Slate is designed for freelancers
    button.button.header__button Try For Free