.offer__container
    .offer__content
        h2.title.offer__title Fastest way to organize
        h4.subtitle.offer__subtitle Most calendars are designed for teams. 
            span Slate is designed for freelancers
        button.button.offer__button Try For Free
    .offer__img 
        img(src="../assets/images/offer-laptop.png", alt="example on a laptop")
    .offer__img__mobile
        img(src="../assets/images/offer-laptop-mobile.png", alt="example on a laptop")