include ../mixins
.partners__container 
    .title.partners__title Partners
    .subtitle.partners__subtitle Most calendars are designed for teams. 
        span Slate is designed for freelancers
    .partners__cards
        each val in PartnersCard
            +Partners(val.text, val.src, val.alt)
    button.button.partners__button Try For Free