.testimonials__container 
    h2.title.testimonials__title Testimonials
    .testimonials__logo 
        include ../assets/icons/IBM
    h4.subtitle.testimonials__content Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
    .testimonials__person 
        .testimonials__photo 
            img(src="../assets/images/testimonials-photo.png", alt="personal photo")
        .testimonials__photo__mobile
            img(src="../assets/images/testimonials-photo-mobile.png", alt="personal photo")
        .testimonials__description 
            h5.person__text Organize across
            a.person__link(href="#") Ui designer
    button.button.testimonials__button More Testimonials