doctype html
html(lang="en")
	head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			link(rel="stylesheet", href="./assets/styles/styles.css")
			title Document
	body 
		header 
			include ./sections/header
		main 
			section.hero
				include ./sections/hero
			section.features 
				include ./sections/features
			section.offer 
				include ./sections/offer
			section.cta 
				include ./sections/CTA
			section.partners 
				include ./sections/partners
			section.testimonials 
				include ./sections/testimonials
			section.pricing 
				include ./sections/pricing
			section.contacts 
				include ./sections/contacts
		footer
			include ./sections/footer

	script(src='./script.js')