mixin Menu
    ul.header__links 
        li.header__link
            a(href="#") Home
        li.header__link
            a(href="#") Product
        li.header__link
            a(href="#") Pricing
        li.header__link
            a(href="#") About 
        li.header__link
            a(href="#") Contact