.header__container {
    max-width: 1210px;
    height: 156px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-device-width: 945px) {
        justify-content: center;
    }

    @media screen and (max-device-width: 576px) {
        max-width: 386px;
        height: 112px;
        padding: 0;
        justify-content: space-between;
    }
}

.header__menu__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-device-width: 576px) {
        width: 100%;
        justify-content: space-between;
        text-align: start;
    }
}

.header__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-device-width: 576px) {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: -100%;
        background-color: $c-black-title;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.header__link {
    z-index: $z-index-header;
    padding: 10px;
    margin-right: 20px;
    
    &:last-child {
        margin: 0;
    }

    @media screen and (max-device-width: 576px) {
        margin: 0;
    }

    a {
        @include font(400, 1.5rem, 2.8rem, 0.02rem, $c-white);
        
        &:hover {
            color: $c-blue;
        }

        @media screen and (max-device-width: 576px) {
            @include font (400, 2.8rem, 4.0rem, 0.02rem, $c-white);
        }
    }
}

.header__logo {
    padding: 0 35.5px;
    z-index: $z-index-header;

    @media screen and (max-device-width: 576px) {
        display: none;
    }
}

.header__logo__mobile {

    padding: 0 10px;
    z-index: $z-index-header;

    @media screen and (min-device-width: 577px) {
        display: none;
    }
}

.burger {
    z-index:  $z-index-header;

    @media screen and (min-device-width: 577px) {
       display: none;
    }
}

input:checked {
    & + .burger + .header__links {
        right: 0;
    }
}

.header__contacts {
    width: 171px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-device-width: 576px) {
        display: none;
    }

    .header__contact {
        z-index: $z-index-header;
        svg {
            &:hover {
                transform: scale(1.2);
                path {
                    fill: $c-blue;
                }
            }
        }
    }
}